@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

html {
    overflow: auto;
}

nav {
    border-right: 3px solid rgb(0, 0, 0);
    color: #1a1a1a;
    background-color: #fff;
}

.menu {
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
}

.wrapper {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.user {
    width: 40px;
    height: 40px;
    border: 4.8px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.user::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

.user::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
}

ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}

ul li {
    padding: 0.5em 1em 0.5em 3em;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #1a1a1a;
}

hr {
    color: #F3F3F3;
}

li:hover {
    background: rgb(96, 89, 89);
}